.noteBtn {
    border: 4px double #5e7486;
    border-radius: 15px;
    background-color: #061917;
    color: #5a84ff;
    margin: 8px 5px;
    padding: 10px 16px;
    font-size: medium;
    cursor: pointer;
}